<div class="row">
  <div class="col-12">
      <img src="" alt="" class="img-responsive">

  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>Recipie Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Manage Recipie</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">shoppping list</a>
        <a class="dropdown-item" href="#">edit recipie</a>
        <a class="dropdown-item" href="#">delete recipie</a>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredient
  </div>
</div>
